body {
    font-family: 'inter';
    background-color: #faf9f6;
    
}
header {
    background-image: url(../images/background.webp);
    height: 100vh;
    margin-top: 0;
}
#logo {
    font-size: 48px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    color: #800000;
    font-family: 'playfair display';
}
#highlight {
    font-weight: 300;
    color: #faf9f6;
    font-family: 'inter';
}
#navbar {
    display: flex;
    width: 99.2vw;
    -webkit-box-shadow: 0px 1px 1px #ADADAD;
    -moz-box-shadow: 0px 1px 1px #ADADAD;
    box-shadow: 0px 2px 2px #ADADAD;
    height: 70px;
}

ul {
    margin-left: 700px;
    padding-top: 20px;
}

ul li {
    font-weight: 500;
    padding-left: 30px;
    padding-top: 20px;
    cursor: pointer;
    color: #faf9f6;
}
#navlist {
    display: flex;
    list-style: none;
}

.coloreditem {
    color: #800000;
    font-weight: 400;
    padding-left: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}
#bestsellers {
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
    margin-bottom: -5px;

}
.furniture {
    height: 500px;
    width: 500px;
    padding-left: 50px;
}

.models {
    color: black;
}
